<div class="row">
    <div class="col-lg-12">
        <div class="tmjev">
            <label>Treatment for TMJ &amp;Soft Tissue </label>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="prdnts">

            <div class="prdnt-cont-nr">
                <div class="muscle-ten tht-prder">
                    <label> Muscle Tenderness -Right </label>
                </div>

                <div class="tht-wth-cnt">
                    <input type="hidden" ng-model="newMuscleTreatement.treatmentId">
                    <input type="hidden" ng-model="newMuscleTreatement.cost">

                    <div class="tht-wth-note">
                        <!-- Auto complete input here-->
                        <!--<input type="text" ng-model="newMuscleTreatement.treatmentName">-->
                        <angucomplete-alt id="newMuscleTreatement"
                                          placeholder="Search Treatments"
                                          pause="300"
                                          minlength="2"
                                          selected-object="selectTreatement"
                                          input-changed="changedCb"
                                          local-data="localData"
                                          search-fields="ProcedureName"
                                          title-field="ProcedureName"/>
                    </div>

                    <div class="tht-wth-note-next tht-wth-note">
                        <select ng-model="newMuscleTreatement.status">
                            <option disabled>-select-</option>
                            <option>Completed</option>
                            <option>In Progress</option>
                            <option>Adviced</option>
                            <option>Cancel</option>
                        </select>
                    </div>

                    <div class="tht-wth-icn">
                        <img ng-click="newMuscleTreatement.showNote=!newMuscleTreatement.showNote" src="view-selected.png">
                        <!--<img src="red-delt.png">-->
                        <img ng-click="addTreatement('muscle')" src="plus-symbole-icon.png">
                    </div>
                </div>

                <div ng-show="newMuscleTreatement.showNote" class="prdnt-cont-nr">
                    <div class="tht-prder">
                        <label> </label>
                    </div>
                    <div class="tht-wth-cnt" style="margin-top:15px;">
                        <div class="tht-wth-note-botom tht-wth-note">
                            <input ng-model="newMuscleTreatement.note" class="tht-nt-btm" placeholder="Enter Note" type="text" />
                        </div>
                        <div class="tht-wth-icn"> </div>
                    </div>
                </div>
                <div ng-show="newMuscleTreatement.showNote" class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

            <div ng-repeat="treatement in muscleTreatements" class="prdnt-cont-nr">
                <div class="muscle-ten tht-prder">
                    <label> </label>
                </div>

                <div class="tht-wth-cnt">
                    <input type="hidden" ng-model="treatement.treatmentId">
                    <input type="hidden" ng-model="treatement.cost">

                    <div class="tht-wth-note">
                        <!-- Auto complete input here-->
                        <!--<input type="text" ng-model="treatement.treatmentName">-->
                        <angucomplete-alt id="muscleTreatements"
                                          initial-value="treatement.treatmentName || treatmentName.originName || ''"
                                          placeholder="Search Treatments"
                                          pause="300"
                                          minlength="2"
                                          selected-object="selectTreatement"
                                          input-changed="changedCb"
                                          local-data="localData"
                                          search-fields="ProcedureName"
                                          title-field="ProcedureName"/>
                    </div>

                    <div class="tht-wth-note-next tht-wth-note">
                        <select ng-model="treatement.status">
                            <option disabled>-select-</option>
                            <option>Completed</option>
                            <option>In Progress</option>
                            <option>Adviced</option>
                            <option>Cancel</option>
                        </select>
                    </div>

                    <div class="tht-wth-icn">
                        <img ng-click="treatement.showNote=!treatement.showNote" src="view-selected.png">
                        <img ng-click="remove('muscle', treatement)" src="red-delt.png">
                    </div>
                </div>

                <div ng-show="treatement.showNote" class="prdnt-cont-nr">
                    <div class="tht-prder">
                        <label> </label>
                    </div>
                    <div class="tht-wth-cnt" style="margin-top:15px;">
                        <div class="tht-wth-note-botom tht-wth-note">
                            <input ng-model="treatement.note" class="tht-nt-btm" placeholder="Enter Note" type="text" />
                        </div>
                        <div class="tht-wth-icn"> </div>
                    </div>
                </div>
                <div ng-show="treatement.showNote" class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

            <div class="bordr-in-md-cnt-btm"></div>
            <div class="prdnt-cont-nr">
                <div class="tht-prder">
                    <label>Joint Tenderness - Rigth </label>
                </div>
                <div class="tht-wth-cnt">
                    <input type="hidden" ng-model="newJointTreatement.treatementId">
                    <input type="hidden" ng-model="newJointTreatement.cost">

                    <div class="tht-wth-note">
                        <!--<input ng-model="newJointTreatement.treatmentName" type="text">-->
                        <angucomplete-alt id="newJointTreatement"
                                          placeholder="Search Treatments"
                                          pause="300"
                                          minlength="2"
                                          selected-object="selectTreatement"
                                          input-changed="changedCb"
                                          local-data="localData"
                                          search-fields="ProcedureName"
                                          title-field="ProcedureName"/>
                    </div>
                    <div class="tht-wth-note-next tht-wth-note">
                        <select ng-model="newJointTreatement.status">
                            <option disabled>-select-</option>
                            <option>Completed</option>
                            <option>In Progress</option>
                            <option>Adviced</option>
                            <option>Cancel</option>
                        </select>
                    </div>

                    <div class="tht-wth-icn">
                        <img ng-click="newJointTreatement.showNote=!newJointTreatement.showNote" src="view-selected.png">
                        <!--<img src="red-delt.png">-->
                        <img ng-click="addTreatement('joint')" src="plus-symbole-icon.png">
                    </div>
                </div>

                <div ng-show="newJointTreatement.showNote" class="prdnt-cont-nr">
                    <div class="tht-prder">
                        <label> </label>
                    </div>
                    <div class="tht-wth-cnt" style="margin-top:15px;">
                        <div class="tht-wth-note-botom tht-wth-note">
                            <input ng-model="newJointTreatement.note" class="tht-nt-btm" placeholder="Enter Note" type="text" />
                        </div>
                        <div class="tht-wth-icn"> </div>
                    </div>
                </div>
                <div ng-show="newJointTreatement.showNote" class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

            <div ng-repeat="treatement in jointTreatements" class="prdnt-cont-nr">
                <div class="muscle-ten tht-prder">
                    <label> </label>
                </div>

                <div class="tht-wth-cnt">
                    <input type="hidden" ng-model="treatement.treatmentId">
                    <input type="hidden" ng-model="treatement.cost">

                    <div class="tht-wth-note">
                        <!-- Auto complete input here-->
                        <!--<input type="text" ng-model="treatement.treatmentName">-->
                        <angucomplete-alt id="jointTreatements"
                                          initial-value="treatement.treatmentName || treatmentName.originName || ''"
                                          placeholder="Search Treatments"
                                          pause="300"
                                          minlength="2"
                                          selected-object="selectTreatement"
                                          input-changed="changedCb"
                                          local-data="localData"
                                          search-fields="ProcedureName"
                                          title-field="ProcedureName"/>
                    </div>

                    <div class="tht-wth-note-next tht-wth-note">
                        <select ng-model="treatement.status">
                            <option disabled>-select-</option>
                            <option>Completed</option>
                            <option>In Progress</option>
                            <option>Adviced</option>
                            <option>Cancel</option>
                        </select>
                    </div>

                    <div class="tht-wth-icn">
                        <img ng-click="treatement.showNote=!treatement.showNote" src="view-selected.png">
                        <img ng-click="remove('joint', treatement)" src="red-delt.png">
                    </div>
                </div>

                <div ng-show="treatement.showNote" class="prdnt-cont-nr">
                    <div class="tht-prder">
                        <label> </label>
                    </div>
                    <div class="tht-wth-cnt" style="margin-top:15px;">
                        <div class="tht-wth-note-botom tht-wth-note">
                            <input ng-model="treatement.note" class="tht-nt-btm" placeholder="Enter Note" type="text" />
                        </div>
                        <div class="tht-wth-icn"> </div>
                    </div>
                </div>
                <div ng-show="treatement.showNote" class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <button ng-click="highlightOutput()" class="btn btn-primary">Done</button>
        <pre ng-show="finalOutput">{{ finalOutput }}</pre>
    </div>
</div>
