body {
}
* {
	padding: 0px;
	margin: 0px;
}
.list-option {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}
.list-option li {
	display: block;
}
.list-option li .history {
	background-color: #f3f0f0;
	display: block;
	cursor: pointer;
	margin: 0;
	padding: 10px 15px 15px 20px;
	margin-bottom: 5px;
	border-radius: 4px;
}
label, .lbl {
	vertical-align: middle;
}
label {
	font-size: 15px;
	font-weight: 400;
}
.checkbox-in {
	width: 30px;
	height: 30px;
	font-size: 20px;
}
.images-top {
	top: -10px
}
.tick-icn {
}
.close-icn {
	padding-left: 5px;
}
.text-view {
	padding-left: 5px;
	padding-right: 40px;
}
.boder-fix-layout {
	background-color: #fff;
	border: 1px solid #bdcfca;
}
/*Medical History*/
.search-item {
	width: 100%;
	padding: 10px;
}
.fa-pencil {
	position: absolute;
	right: 40px;
	top: 15px;
	color: #8d8d8d
}
.tab-width {
	width: 33.3333%;
}
.text-align {
	text-align: center;
}
.left-border-height {
	height: 150px;
	width: 2px;
	background-color: #484848;
	margin-top: 1px;
	float: left;
}
.df-cf-nv-tb > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	background-color: #09a0a0;
	color: #fff;
}
.df-cf-nv-tb > li > a {
	font-size: 20px;
	border-radius: 0px;
	text-align: center;
	background-color: #afe2e2;
	color: #029494;
}
.df-cf-nv-tb {
	border-bottom: 4px solid #09a0a0;
}
.vital-box { /*width:auto; margin:auto; max-width:33%*/
	margin-top: 15%;
	float: left;
	margin-left: 25%;
}
.vital-box label {
	font-size: 20px;
	font-family: Calibri;
	padding-left: 5px;
}
.border-inside-text label {
	border: 2px solid #c0bfbf;
	/*padding: 4px 35px;*/
	background-color: #f8f8f8;
	height: 40px;
	line-height: 36px;
	width: 135px;
}
.border-inside-text-bottom {
	border: 2px solid #c0bfbf;
	/*padding: 4px 35px;*/
	background-color: #f8f8f8;
	height: 40px;
	line-height: 36px;
	width: 205px;
}
.vital-box-bottom {
	margin-top: 19%;
	float: left;
	margin-left: 13%;
}
.vital-box-bottom label {
	font-size: 20px;
	font-family: Calibri;
	padding-left: 5px;
}
.vital-box-right-border {
	float: left;
	width: 2px;
	height: 107px;
	background-color: #c0bfbf;
	margin-top: 15%
}
.done-button input {
	width: 100%;
	height: 50px;
	background-color: #029494;
	border-radius: 8px;
	color: #fff
}
.done-button {
	margin-top: 30px;
}
.border-width-fit {
	background-color: #fff;
	border: 2px solid #becfca;
}
.add-question-search label {
	color: #009393
}
.search-item-bottom input {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	font-size: 20px;
	padding-left: 15px;
	border: 1px solid #d4d4d4
}
.search-item-bottom {
	float: left;
	width: 94%;
}
.search-add-plus-button {
	float: left;
}
.search-add-plus-button {
	width: 5%;
	margin-left: 1%;
}
.search-add-plus-button img {
	cursor: pointer
}
.search-in-label input {
	margin-top: 10px;
	border: 1px solid #d4d4d4;
	padding: 15px;
	width: 97%;
	border-radius: 5px;
}
/*Dental chart*/
.tab-width-dentals {
	width: 50%;
}
.type-chart {
	width: 100%;
	max-width: 225px;
	;
	margin: auto
}
.type-chart label {
	font-size: 20px;
	color: #959595;
	text-align: center;
	margin-top: 50%;
}
.adult-child {
	border: 2px solid #969696;
	width: 150px;
	height: 150px;
	border-radius: 125px;
	margin: auto;
	cursor: pointer;
}
.adult-child i {
	font-size: 100px;
	text-align: center;
	padding-top: 25px;
	color: #969696
}
.ad-chi-name label {
	font-size: 20px;
	padding-top: 5px;
	color: #959595
}
.chd-adt {
	margin-top: 15px;
}
.adult-child i:hover {
	color: #01928f;
}
/*TMJ EVALUTION*/
.tmjev label {
	font-size: 20px;
	font-weight: bold;
	padding: 15px 0 0 0;
}
.evaltion-box {
	width: 100%;
	background-color: #f3f0f0;
	height: 50px;
	border-radius: 5px;
	margin-top: 5px;
}
.evaltion-box label {
	font-size: 17px;
	padding: 12px 0 0 22px;
	color: #3f3f3f
}
.evaltion-box img {
	padding: 10px 15px 0 0;
	cursor: pointer;
}
.tmjev span {
	font-size: 16px;
	padding: 30px 14px 0px 4px;
}
.line-fix {
	width: 95%;
	height: 2px;
	background-color: #d6d6d6;
	margin: auto;
}
/*Mucosa*/
.tmjev label {
	font-size: 15px;
	font-weight: bold;
	padding: 15px 0 0 0;
}
.evaltion-box-clse {
	width: 100%;
	background-color: #f3f0f0;
	height: 50px;
	border-radius: 5px;
	margin-top: 5px;
}
.evaltion-box-clse label {
	font-size: 17px;
	padding: 12px 0 0 22px;
	color: #3f3f3f
}
.evaltion-box-clse img {
	padding: 10px 26px 0 21px;
	cursor: pointer;
}
.tmjev span {
	font-size: 16px;
	padding: 28px 14px 0px 4px;
}
/*blue-bce3e3-back*/
.blue-bce3e3-back {
	background-color: #bce3e3 !important;
	border-radius: 2px;
	margin-top: 50px;
}
.tmjev-bce3e3 label {
	font-size: 20px;
	font-weight: bold;
	padding: 15px 0 0 0;
}
.evaltion-box-bce3e3 {
	width: 100%;
	background-color: #f3f0f0;
	height: 50px;
	border-radius: 5px;
	margin-top: 5px;
}
.evaltion-box-bce3e3 label {
	font-size: 15px;
	padding: 12px 0 0 22px;
	color: #3f3f3f
}
.evaltion-box-bce3e3 img {
	padding: 10px 15px 0 0;
	cursor: pointer;
}
.tmjev span-bce3e3 {
	font-size: 16px;
	padding: 30px 14px 0px 4px;
}
.evaltion-box-bce3e3 i {
	font-size: 25px;
	padding: 14px 24px 0 0;
	color: #ec2327
}
.search-bce3e3 input {
	width: 95%;
	height: 35px;
	margin: 25px 0 10px 10px;
	border-radius: 5px;
	border: 1px solid #d4d4d4;
	padding-left: 15px;
}
.tote-se-clll label img {
	padding: 5px
}
.tote-se-clll span {
	background-color: #a4a4a4;
	border-radius: 5px;
	color: #fff;
	font-size: 17px;
	line-height: 34px;
	margin: 10px 0 0 19px;
	padding: 0 11px;
	position: absolute;
}
.tote-se-clll span i {
	padding: 10px 0 0 20px;
	color: #fff;
	font-size: 17px;
	cursor: pointer;
}
.per-fa-t-clo {
	float: left
}
.paddinh-not {
	padding: 0px;
}
/*Header - top*/
.top-header-slide {
	height: 100px;
}
.top-header-slide {
	background-color: #f8fafe;
}
.lab-name {
	width: 20%;
	float: left;
}
.lab-name label {
	padding: 20px 0 0 29px;
	font-size: 20px;
	color: #009393;
	font-weight: bold;
}
.lab-name p {
	padding-left: 30px;
	font-size: 15px;
}
.ag-gen-size {
	width: 10%;
	float: left
}
.ag-gen-size label {
	font-weight: bold;
	font-size: 20px;
	padding: 20px 0 0 0px
}
.hea-top-line {
	width: 2px;
	height: 70px;
	background-color: #d9d9d9;
	float: left;
	margin: 15px
}
.juts-wid {
	width: 15%
}
.nam-op-mcka {
	float: left;
	background-color: #a9dcdd;
	width: 5%;
	height: 100px;
}
.nam-op-mcka p {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	color: #fff;
}
.di-bp-cl {
	width: 5%;
	float: left;
	text-align: center;
}
.di-bp-cl label {
	font-weight: bold;
	padding-top: 15px;
}
.di-bp-cl span {
	text-align: center;
}
.evaltion-box-bce3e3 label img {
	padding: 0px;
	margin-right: 5px;
}
.aditional-bottom-search input {
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	height: 50px;
	margin: 7px 0 10px 0px;
	padding-left: 15px;
	width: 100%;
}
/*Surgen*/
.margin-top {
	margin-top: 0.5em;
}
.tmt-tgu-fh {
	background-color: #e7e7e7;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #bcbcbc;
	width: 96%;
	float: left;
}
.tmt-tgu-fh label {
	padding: 5px 0 0 10px;
	font-size: 17px;
}
.tmt-tgu-fh label img {
	padding-right: 1px;
}
.ri-eg-tk-in {
	float: left;
	width: 4%;
	height: 35px;
}
.ri-eg-tk-in i {
	font-size: 20px;
	padding: 0 0 0 10px;
	position: absolute;
	right: 12px;
	top: 8px;
	color: #918f8f;
	cursor: pointer;
}
.prdnts {
	width: 100%;
	height: 100% !important;
	background-color: #f3f0f0;
	float: left;
	padding-bottom:10px;
}
.prdnts-toothgum {
	width: 96%;
	height: 100% !important;
	background-color: #f3f0f0;
	min-height: 200px;
	float: left;
}
.prdnts-Mucosa {
	width: 96%;
	height: 100% !important;
	background-color: #f3f0f0;
	min-height: 130px;
	float: left;
}
.prdnts-Lymphadenopathy {
	width: 96%;
	height: 100% !important;
	background-color: #f3f0f0;
	min-height: 80px;
	float: left;
	margin-top: 20px;
}
.tht-prder {
	width: 20%;
	float: left;
}
.tht-wth-cnt {
	width: 80%;
	float: left;
	height: auto;	
}
.tht-prder label {
	padding: 20px 0 0 15px;
	font-size: 14px;
	color: #3f3f3f;
	margin: 0px;
}
.tht-wth-note input {
	width: 100%;
	height: 45px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	padding-left: 10px;
	color: #3f3f3f;
	font-size: 16px;
	background-color: #f1fcfc;
}
.tht-wth-note {
	float: left;
	height: auto;
	width: 54%;
	margin-top:15px;
}
.tht-wth-note-botom {
	width: 74%;
}
.tht-wth-note-next {
	float: left;
	height: auto;
	width: 19%;
	margin-left: 1%
}
.tht-wth-icn {
	width: 26%;
	height: 50px;
	float: left;
	margin-top:15px;
}
.tht-wth-icn img {
	margin: 5px 8px 0 15px;
	cursor: pointer
}
.prdnt-cont-nr {
	width: 100%;
}
.margin-top-px {
	margin-top: 15px;
}
.tht-nt-btm {
	margin-top: -9px !important;
}
.tht-wth-note select option {
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	color: #3f3f3f;
	font-size: 16px;
	height: 50px !important;
	padding-left: 10px;
	width: 100%;
	cursor: pointer;
}
.tht-wth-note select {
	width: 100% !important;
	padding-left: 10px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	height: 45px;
	cursor: pointer;
}
.tht-wth-notesDoctor select {
	width: 80% !important;
	padding-left: 10px;
	margin-top: 10px;
	margin-left: 151px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	height: 36px;
	cursor: pointer;
}
.tht-wth-notesDoctor {
	float: left;
	height: auto;
	width: 100%;
	padding-left: 20%;
}
.list-actionDoctor {
	/* position: absolute; */
	top: 3px;
	right: 0;
}
.gum-tee-hgt {
	height: 200px !important;
}
.tht-prder span {
	color: #3ab929;
	padding: 0 0 0 25px;
	font-size: 17px;
}
.tht-prder-abnormal span {
	color: #ec2529;
	padding: 0 0 0 25px;
	font-size: 17px;
}
/*Medical history Print*/
.cstm-btm {
	width: 100%;
	font-size: 18px;
	background-color: #029393;
	color: #fff
}
.pri-button i {
	font-size: 18px;
	color: #fff;
}
.btn-default:hover {
	background-color: #04aaaa;
	color: #fff
}
.back-border {
	border: 1px solid #bdcfca;
	border-radius: 0 0 5px 5px;
}
.he-name-fot label {
	font-size: 19px;
	font-weight: bold;
	padding: 20px 0 0 0px;
	color: #009393;
}
.he-name-fot p {
	font-size: 17px;
	padding: 0px;
	color: #010101;
}
.inline-border-dp {
	border: 1px solid #c4c4c4;
}
.head-border {
	background-color: #e7e7e7;
	margin: 1px;
}
.head-border label {
	font-size: 17px;
	padding: 10px 0 0 15px;
	font-weight: bold;
	color: #010101
}
.vtl-in-cnt {
	color: #080808
}
.bordr-in-md-cnt {
	background-color: #d1d1d1;
	width: 90%;
	margin: auto;
	height: 2px;
}
.vtl-in-cnt-botm {
	color: #080808;
	font-weight: bold;
	font-size: 15px;
}
.vtl-in-cnt-botm p {
	color: #564b36
}
.vtl-in-cnt label {
	font-size: 12px;
}
.margin-top-tm {
	margin-top: 3em;
}
.margin-btm-pm {
	margin-bottom: 0.5em;
}
.margin-top-om {
	margin-bottom: 1em;
}
.link-list-on label {
	font-size: 13px;
	padding: 5px;
}
.link-list-on label img {
	margin-right: 5px;
}
.link-list-on span {
	color: #e94439;
	font-size: 12px;
}
.dtl-hst label {
	padding: 0px 0 0 4px;
	padding-bottom: 0px !important;
	font-size: 12px
}
.dtl-hst label img {
	padding: 15px;
}
.bordr-in-md-cnt-btm {
	background-color: #d1d1d1;
	height: 1px;
	margin: auto;
	width: 95%;
}
.ad-nt-ed label {
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	padding-bottom: 0px;
}
.dtl-hst-bottom label {
	padding: 15px 0 0 4px;
	padding-top: 0px;
	font-size: 12px;
}
.dtl-hst-bottom img {
	padding: 15px;
}
.hea-dcn-dn label {
	font-weight: bold;
	font-size: 16px;
	padding: 15px 0 0 0;
	padding-bottom: 0px;
	color: #009393;
}
.brd-btm-lab label {
	padding: 10px 0;
	font-weight: bold;
	font-size: 13px;
}
.brd-btm-lab label img {
	padding-right: 5px;
}
.lag-nabd-lab label {
	padding: 14px;
	padding-bottom: 0px;
	color: #3f3f3f;
	font-size: 13px;
}
.dtl-hst-ddt-tbm label {
	padding-bottom: 0 !important;
	padding-left: 4px;
	padding-right: 0;
	padding-top: 8px;
	font-size: 12px;
}
.dtl-hst-ddt-tbm label img {
	padding: 9px;
}
.dtl-hst-ddt-tbm-next label {
	padding-bottom: 0 !important;
	padding-left: 4px;
	padding-right: 0;
	font-size: 12px;
	padding-top: 0px;
}
.dtl-hst-ddt-tbm-next label img {
	padding: 15px;
	padding-top: 0px;
	position: relative;
	top: 7px;
}
/*Prescription*/
.pre-crip-inf label {
	font-size: 13px;
	padding: 15px 15px 0 3px;
	color: #3f3f3f;
}
.pre-crip-inf-main label {
	font-size: 16px;
	padding: 5px 15px 0 0;
	color: #3f3f3f;
	float: none;
}
.pre-crip-inf-main p {
	font-size: 16px;
	padding: 0px 15px 0 0;
	color: #b0b0b0;
	float: none;
}
.follo-uwp label {
	padding: 15px 0 0 0;
	font-size: 20px;
	color: #009393;
	font-weight: bold
}
.time-wid label {
	padding: 0px 0 0 15px;
	font-size: 13px;
}
.min-ti-al {
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}
.min-ti-al label {
	text-align: center;
	font-size: 13px;
	color: #3f3f3f;
	padding: 5px 5px 0 10px;
	line-height: 25px;
}
.or-ti-sel-dat label {
	padding: 15px;
	font-size: 13px;
	color: #3f3f3f
}
.or-ti-sel-dat label i {
	font-size: 20px;
	color: #029393;
	padding-left: 5px;
}
.cs-not-meddss label {
	padding: 15px;
	color: #020202;
	font-size: 13px;
}
.cs-not-meddss label i {
	cursor: pointer;
}
.cs-not-meddss input {
	width: 100%;
	border: none;
	padding-left: 15px;
}
/* btn-group-span*/
.day-ye-we span {
	display: inline-block;
	float: left;
	width: 33%;
	border-radius: 0px;
}
.btn-radio-group {
	border-radius: 0px;   /*  padding-left: 15px; */
	padding-right: 14px;
}
.subConditions {
	width: 95%;
	margin-left: 5%;
}
/*SUB*/
.line-yel-drp {
	width: 100%;
	height: 50px;
	background-color: #F3F0F0;
	margin-top: 10px;
	border-radius: 5px;
}
.line-yel-drp label {
	padding: 15px 0 0 20px;
	font-weight: bold;
}
.line-yel-drp ul {
	margin-top: 10px;
}
.line-yel-drp ul li {
	width: 95%;
	background-color: #F3F0F0;
	height: 50px;
	list-style-type: none;
	padding: 15px 0 0 20px;
	margin-top: 7px;
	border-radius: 5px;
}
.line-yel-drp img {
	padding: 22px 0 0 13px
}
/*Ddl in Treatemnt-Settings*/
.stTrtmnt {
	height: 46px;
	background-color: #f3f0f0;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 10px;
	width: 25%;
	float: left;
	padding: 10px;
	margin-left: 1%;
}
.stTrtmntCndtn {
	height: 46px;
	background-color: #f3f0f0;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 10px;
	width: 25%;
	float: left;
	padding: 10px;
}
/*treatments*/
.treatmentLabels {
	float: left;
	width: 40%;
	padding: 7px;
	border: 1px solid black;
}
.checkedTreatments {
	width: 10%;
	float: left;
	text-align: center;
	padding: 15px;
	text-align: right;
}
/*medicals,dentals radio*/
.historyTab {
	/* width: 20%; */ height: 30px;
}
label.lblOk {
	float: left;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}
label.lblCancel {
	float: left;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.lblNotes {
	cursor: pointer;
	float: left;
	padding-left: 15px;
}
/*Settings labels*/
.settingsData {
	padding: 10px;
	background-color: #f3f0f0;
	border-radius: 4px;
	margin-bottom: 10px;
}
.settingsData label {
	width: 100%;
}
/*Conditions & SubConditions*/

.cndtn, .subCndtn {
	width: 100%;
	background-color: #f3f0f0;
	padding: 10px;
	border-radius: 4px;
}
#changePwd {
	padding: 10px;
}
.list-actionDoctor a {
	margin-left: 10px;
}
.gap-height {
	width: 121% !important;
	height: 30px !important;
	background-color: #E7E7E7 !important;
	margin: 0px !important;
	padding: 0px !important;
	position: relative;
	left: -18px;
}
.margin-btm-hgt {
	margin-bottom: 15px !important;
}
/*notimportant*/
input.checkbox-circle[type="checkbox"], input.radio-circle[type="radio"] {
	cursor: pointer;
	width: 25px;
	height: 25px;
	margin: 0;
	opacity: 0;
	position: absolute;
	z-index: 12;
}
input.checkbox-circle[type="checkbox"]:checked ~ .lbl-not, input.radio-circle[type="radio"]:checked ~ .lbl-not, input.radio-circle[type="checkbox"]:checked~ .lbl-not {
	background-color: #e66868;
	color: #fff;
}
input.checkbox-circle[type="checkbox"] ~ .lbl-not, input.radio-circle[type="radio"] ~ .lbl-not, input.radio-circle[type="checkbox"]~ .lbl-not {
	background-color: #bcbcbc;
	cursor: pointer;
	display: inline-block;
	position: relative;
	margin-left: 8px;
	top: -2px;
	min-width: 25px;
	min-height: 25px;
	border-radius: 50px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	z-index: 11;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
input.checkbox-circle[type="checkbox"]:checked ~ .lbl-not.red-gray-notimp, input.radio-circle[type="radio"]:checked ~ .lbl-not.red-gray-notimp {
	background-color: #e66868;
}
.ng-sc-li-st {
	margin-right: 5px;
	float: left
}
/*New Added*/
.heigh {
	height: 10px;
	width: auto;
}
.muscle-ten label {
	padding: 8px 0 0 15px;
}
.tht-Lymphadenopathy label {
	padding: 10px 0 0 15px
}
prdnts-Mucosa
